.wallets-page{
  background:#000;
  color:white;
  padding:60px 8%;
}

.wallets-page h1{
  text-align:center;
  color:#d4af37;
  font-size:3rem;
  margin-bottom:60px;
}

/* Product Box */

.product-box{
  display:flex;
  gap:60px;
  align-items:flex-start;
  margin-bottom:100px;
}

/* Left */

.left-side{
  flex:1;
}

.main-img{
  width:100%;
  max-width:700px;
  height:500px;
  object-fit:contain;
  background:#fff;
  border-radius:15px;
}

.thumb-row{
  display:flex;
  gap:15px;
  margin-top:20px;
  overflow-x:auto;
}

.thumb{
  width:90px;
  height:90px;
  object-fit:cover;
  border:2px solid #d4af37;
  border-radius:10px;
  cursor:pointer;
}

/* Right */

.right-side{
  flex:1;
  max-width:550px;
}

.right-side h2{
  font-size:3rem;
  margin-bottom:15px;
}

.right-side h3{
  color:#d4af37;
  font-size:2rem;
  margin-bottom:25px;
}

.right-side p{
  line-height:1.8;
  color:#ddd;
  margin-bottom:25px;
}

.right-side ul{
  list-style:none;
  margin-bottom:30px;
}

.right-side ul li{
  margin-bottom:12px;
}

.right-side button{
  background:#d4af37;
  color:#000;
  border:none;
  padding:16px 45px;
  border-radius:40px;
  font-size:20px;
  font-weight:700;
  cursor:pointer;
}

/* Tablet */

@media(max-width:1024px){

  .product-box{
    flex-direction:column;
    align-items:center;
  }

  .right-side{
    max-width:100%;
  }
}

/* Mobile */

@media(max-width:768px){

  .wallets-page{
    padding:40px 20px;
  }

  .wallets-page h1{
    font-size:2rem;
  }

  .main-img{
    height:300px;
  }

  .thumb{
    width:70px;
    height:70px;
  }

  .product-box{
    text-align:center;
  }

  .right-side{
    align-items:center;
  }

  .right-side ul{
    text-align:left;
  }

  .right-side h2{
    font-size:2rem;
  }
}